body
{
    color:palevioletred;
    text-align: center;
    font-family: "Arial"; 
}
#conteiner
{
    width: 70%;
    padding: 1em;
    text-align: justify;
    border: 1px solid #000;
    margin: auto;

}
#container h1
{
    font-size: 20px;

}
#cabecera
{
box-shadow;
background:rgb(0, 0, 0);
margin: auto;
padding: 0%;
text-align: center;    
font-variant-numeric: slashed-zero;
}