body
{
    color:rgb(78, 6, 63);

    text-align: center;
    font-family: cursive; 
}
#conteiner
{
    width: 70%;
    padding: 1em;
    text-align: justify;
    border: 1px solid #000;
    margin: auto;

}
#conteiner h1
{
    
    font-size: 35px;
    
}
#cabecera
{

background:rgb(248, 11, 11);
margin: auto;
padding: 0%;
text-align: center;    
font-variant-numeric: slashed-zero;
}
#footer
{
    background: #999;
    color: red;
    text-align: center;
    padding: 0.5em;
}